h1
{
	text-align:center;
}
body
{
	margin: auto;
	max-width: 750px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;; 
	text-align:justify;
}
ol
{
	list-style-position: outside;
	margin: 0; 
	padding: 0;

}
ul li{
	padding-top: 0.0em;
}

.element_pad{
	padding-top: 0.2em;
}

h2,h4,h3
{
	margin-left: 50px;
}
p
{ text-indent: 20px;
	
}
.image
{
	width: 100%;
}
